<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="content">
        <div id="main" style="width: 1000px;height:600px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '北京地铁每日客流走势'
                },
                tooltip : {
                    // 鼠标放置显示坐标数
                    trigger: 'axis',
                    axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                    }
                },
                legend: {
                    // 图例
                    data:['客流量(万)']
                },
                xAxis: {
                    type: 'category',
                    name: '时间',
                    data: [{% for d in date %} '{{ d }}', {% endfor %}],
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '客流量(万)',
                    type: 'line',
                    smooth: true,
                    data: [{% for p in passenger_flow %}'{{ p }}', {% endfor %}],
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        <div>
            <!-- 下拉选择起止日期 -->
            开始日期
            <select id='start_year'>
                {% for y in all_year_data %}
                    <option value ="{{ y }}">{{y}}</option>
                {% endfor %}
            </select>
            <select id='start_month'>
                {% for m in all_month_data %}
                    <option value ="{{ m }}">{{m}}</option>
                {% endfor %}
            </select>
            
            结束日期
            <select id='end_year'>
                {% for y in all_year_data %}
                    <option value ="{{ y }}">{{y}}</option>
                {% endfor %}
            </select>
            <select id='end_month'>
                {% for m in all_month_data %}
                    <option value ="{{ m }}">{{m}}</option>
                {% endfor %}
            </select>
            <button onclick="refresh_data()">查询</button>
            <script>
            function refresh_data() {
                var start_date = document.getElementById("start_year").value + '-' + document.getElementById("start_month").value;
                var end_date = document.getElementById("end_year").value + '-' + document.getElementById("end_month").value;
                if (start_date > end_date){
                    alert("你好，请确保起始日期小于结束日期!");
                }
                else{
                    abs_url = window.location.href.split('?')[0]
                    window.location.href = `${abs_url}?start_date=${start_date}&end_date=${end_date}-32`
                }
            }
            </script>
        </div>
    </div>
    <footer>
        <p>数据来源: <a href='https://m.weibo.cn/u/2778292197'>北京地铁微博账号</a></p> 
        <p>图标工具: <a href='https://echarts.apache.org/'>echarts</a></p> 
        <p>我的主页: <a href='http://www.maxiaoteng.xyz/'>马晓腾</a></p> 
    </footer>
    <style>
        html, body{
            height: 100%
        }
        .content {
            position: relative;
            min-height: 100%;
            padding-bottom: 50px;
            box-sizing: border-box;
        }
        footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            text-align: center;
        }
    </style>
</body>
</html>