<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>主页</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="content">
        <h1>我是马晓腾, 欢迎！！！</h1>

        <p>导航如下</p>

        <h2>1.我的gitbook</h2>

        <ol>
            <li>
                <a href="http://gitbook.maxiaoteng.xyz">我的gitbook</a>
            </li>
        </ol>

        <h2>2. nas服务和工具</h2>
        <ol>
            <li><a href="http://nas.maxiaoteng.xyz:18181/">nas登录页面</a></li>
            <li><a href="http://nas.maxiaoteng.xyz:19000/kodexplorer">可到云登录</a></li>
            <li><a href="http://nas.maxiaoteng.xyz:15000/tools/random_string">生成随机密码</a></li>
        </ol>

        <h2>3. 我的分享</h2>

        <ol>
            <li><a href="https://gitbook.maxiaoteng.xyz/Configurations/macos.html">使用Timemachine保护我的mac</a>进行中...</li>
            <li><a href="">搭建4G代理</a>进行中...</li>
        </ol>

        <h2>4. 数据展示</h2>
        <ol>
            <li><a href="http://nas.maxiaoteng.xyz:15000/data/beijing_metro">北京地铁客流</a>持续更新</li>
        </ol>

    </div>
    <footer>
        <p>我的主页: <a href='http://www.maxiaoteng.xyz/'>马晓腾</a></p> 
    </footer>
    <style>
        html, body{
            height: 100%
        }
        .content {
            position: relative;
            min-height: 100%;
            padding-bottom: 50px;
            box-sizing: border-box;
        }
        footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            text-align: center;
        }
    </style>
</body>
</html>